{% extends "base.html" %}
{% block content %}

  <h3 class="light-green-text center-align">Add Recipie</h3>

<div class="row">
	<form class="col s12" method="POST" action="">
		<div class="row">
			<div class="input-field col s12">
				<i class="fas fa-utensils prefix light-green-text"></i>
				<input id="icon_prefix" type="text" class="validate">
				<label for="icon_prefix">Food Name</label>
			</div>
			<div class="input-field col s12">
				<i class="fas fa-hamburger prefix light-green-text"></i>
				<input id="icon_telephone" type="tel" class="validate">
				<label for="icon_telephone">Ingredients</label>
			</div>
		</div>
	</form>
</div>


{% endblock %}
