{% extends "base.html" %}
{% block content %}
<h3> <strong>Chew</strong> would like to here from you.</h3>
<p> Please feel free to get in touch and well get back to you in a short while.</p>
<!-- insert web form Here -->

<section class="container-fluid contact contact-background-image" id="contact">
        <div class="row bg-color-contact">
            <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="col-12">
                    <div class="center-align">
                        <form onsubmit="return sendMail(this);">
                            <input type="text" name="name" id="fullname" minlength="5" maxlength="15" class="form-control" placeholder="Name" pattern="^[a-zA-Z0-9]{5,15}$" required />
                            <input type="email" name="email" id="emailaddress" minlength="5" maxlength="30" pattern="^[a-zA-Z0-9]{5,15}$" class="form-control" placeholder="Email" required />
                            <textarea rows="5" name="projectsummary" id="projectsummary" minlength="10" maxlength="2000" class="form-control" placeholder="Add your message here!" required></textarea>
                            <div class="form-row text-center">
                                <div class="col s12 center-align">
                                    <button type="submit" class="btn light-green btn-secondary center-align">Submit Request</button>

                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}