{% extends "base.html" %}
{% block content %}
<header>
    <!-- show reel Carousel -->
    <div class="row">
        <div class="carousel carousel-slider col s12 center-align">
            <a class="carousel-item" href="#one!"><img src="static/images/slide_images/stock1.jpg" /></a>
            <a class="carousel-item" href="#two!"><img src="static/images/slide_images/stock2.jpg" /></a>
            <a class="carousel-item" href="#three!"><img src="static/images/slide_images/stock3.jpg" /></a>
        </div>
    </div>
</header>
<section>
    <h3>Welcome to <strong>Chew</strong></h3>
    
    <p>
        Sign up to chew today it's free and easy! Become one of the many keen professionals and non-professional chefs and cooks all over the world submitting your work and idea. See what hot and what's not.
    </p>
    <p>Just sign up and start contributing to and eventually commenting on and improvements or even whole new recipes by adding and subtracting various food elements from a dish.</p>
    <p>
        You can even post images of your recipes via links showcasing your work and working up the nation and the worlds appetites.
    </p>
    <p>
        What are you waiting for? show your prowess, rise to the challenge or just succumb without guilt, just pride of your world-class skills in the worlds favourite passion for cooking and eating.
    </p>
    <p>
        We boast the submission of Proteins, Carbohydrates and Fats so you can monitor and plan your meals this is useful for people on diets, athletes and bodybuilders alike. We even indicate if a meal is Vegan and Vegetarian.
    </p>
    <p>
        With instant indication of a macros pie chart and an image of an Angel if a balanced low-fat dish to a demon image suggesting that the food is nice however you will experience higher fat and content.
    </p>
    <p>May you find true happiness, true expression and remember when you eat <strong>Chew</strong>.</p>

    {% endblock %}
</section>
