{% extends "base.html" %}
{% block content %}

    <h3> Recipies </h3>

<ul class="collapsible">
    {% for task in tasks %}
    <li>
      <div class="collapsible-header white-text light-green text-shadow">
           <div class="col s3">
                <i class="fas fa-caret-down"></i>
                {% if session.user|lower == task.created_by|lower %}
                    <a href="{{ url_for('delete_task', task_id=task._id) }}" class="btn-small red accent-4">DELETE</a>
                    <a href="{{ url_for('edit_task', task_id=task._id) }}" class="btn-small orange accent-4">Edit</a>
                {% endif %}
           </div>
           <div class="col s9">

           </div>
           <strong>{{ task.menu_item }} Recipie</strong>
      </div>
      <div class="collapsible-body">
          <strong>{{ task.add_imgage }}</strong>
          <p>{{ task.add_imgage  }}</p>
          <p><em>by: {{ task.created_by }}</em></p>
      </div>
    </li>
    {% endfor %}
  </ul>

{% endblock %}