{% extends "base.html" %}
{% block content %}

    <h2> This needs to be View Recipie Page </h2>

<ul class="collapsible">
    {% for task in tasks %}
    <li>
      <div class="collapsible-header white-text light-green text-shadow">
           <div class="col s3">
                <i class="fas fa-caret-down"></i>
                <a href="" class="btn-small light-green accent-4">Done</a>
                <a href="" class="btn-small orange accent-4">Edit</a>
           </div>
           <div class="col s9">

           </div>
           <strong>{{ task.category_food_name }} Food Name</strong>
      </div>
      <div class="collapsible-body">
          <strong>{{ task.add_imgage }}</strong>
          <p>{{ task.add_imgage  }}</p>
          <p><em>by: {{ task.created_by }}</em></p>
      </div>
    </li>
    {% endfor %}
  </ul>

{% endblock %}